<div class="outer-block">
  <div class="inner-block">

    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form_field" %>
      </div>

      <div>
  	    <%= f.label :first_name, 'First Name' %><br />
  	    <%= f.text_field :first_name, class: "form_field"  %>
      </div>

      <div>
  	    <%= f.label :surname %><br />
  	    <%= f.text_field :surname, class: "form_field"  %>
      </div>

      <div>
        <%= f.label :line_manager, 'I am a Line Manager' %><br />
        <%= f.check_box :line_manager %>
      </div>

      <div>
        <%= f.label :job_grade, 'Job Grade' %><br />
        <%= f.text_field :job_grade, class: "form_field"  %>
      </div>

      <div>
        <%= f.label :role_name, 'Job Role' %><br />
        <%= collection_select(:user, :role_id, Role.all, :id, :role_name) %>
      </div>

      <div>
        <%= f.label :team %><br />
        <%= f.text_field :team, class: "form_field"  %>
      </div>

      <div>
        <%= f.label :workgroup, 'Work Group' %><br />
        <%= f.text_field :workgroup, class: "form_field"  %>
      </div>

      <div>
        <%= f.label :location %><br />
        <%= f.text_field :location, class: "form_field"  %>
      </div>

      <div>
     	  <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form_field"  %>
      </div>

      <div>
  	    <%= f.label :password_confirmation, 'Password Confirmation' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form_field"  %>
      </div>

      <div><%= f.submit "Signup!", class: "nav_button" %></div><br />
    <% end %><br />
  
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "nav_button" %>
      <% end -%>

  </div>
</div>

      <div>
        <%# f.label :role_name, 'Job Role' %><br />
        <%# select("role", "role_id", Role.all.collect {|p| [p.role_name, p.id]}, {:include_blank => false}) %>
      </div>
