<%#This is the form for adding/editing dev activities %>

<%= form_for([@user, @dev_activity]) do |f| %>
  
  <% if @dev_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dev_activity.errors.count, "error") %> prohibited this dev_activity from being saved:</h2>

<%#Displays error messages here when the validation brings up something %>
      <ul>
      <% @dev_activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      
  <div>
    <%= f.label :dev_type, 'Development Type' %><br />
    <%= f.select(:dev_type, DevActivity::DEVELOPMENT_TYPE, :include_blank => true, :selected => ' ', class: 'form_field')  %>
  </div>

  <div>
    <%= f.label :development_subject, 'Development Subject' %><br />
    <%= f.text_field :development_subject, class: "form_field"  %>
  </div>

  <div>
    <%= f.label :self_directed, 'Was this Self Directed Learning?' %><br />
    <%= f.check_box :self_directed, class: "form_field"  %>
  </div>

  <div>
    <%= f.label :activity_completed_at, 'Date Completed' %><br />
    <%= f.text_field :activity_completed_at, class: "form_field"  %>
  </div>

  <div>
    <%= f.label :time_taken, 'Time Taken' %><br />
    <%= f.text_field :time_taken,  class: "form_field",  :placeholder => "Time in hours"  %>
  </div>

  <div>
    <%= f.label :key_learning_point, 'Key Learning Points' %><br />
    <%= f.text_area :key_learning_point, class: "form_field_area" %>
  </div>

  <div class="actions">
    <%= f.submit "Confirm", class: "nav_button"%>
    <%= link_to "Cancel", user_path(current_user), class: "nav_button" %>
  </div>
<% end %>
