<%# This page is for viewing seperate Dev Activities %>
<div class="outer-block">
  <div class="inner-block">

	<h2>Development Activity</h2>

	<p>
  	<strong>Activity Type: </strong>
  	<%= @dev_activity.dev_type %>
	</p>

  <p>
    <strong>Development Subject:</strong>
    <%= @dev_activity.development_subject %>
  </p>

  <p>
    <strong>Was this Self Directed Learning?:</strong>
    <%= @dev_activity.self_directed %>
  </p>

	<p>
  	<strong>Completed On:</strong>
  	<%= l @dev_activity.activity_completed_at if @dev_activity.activity_completed_at? %>
	</p>

	<p>
  	<strong>Time Spent:</strong>
  	<%= @dev_activity.time_taken %> hours
	</p>

  <p>
    <strong>Key Learning Points:</strong>
    <%= @dev_activity.key_learning_point %>
  </p>



  </div>
</div>
