<%#This is the index of users that only admin can view, here they choose to view, edit or delete a user %>
<div class="outer-block">
  <div class="inner-block">

    <h2>User Index</h2>

      <%= search_form_for @search, url: users_path do |f| %>

      <%= f.label :surname_cont, "Search by Surname" %>
      <%= f.search_field :surname_cont %>

      <%= f.label :first_name_cont, "Search by First Name" %>
      <%= f.search_field :first_name_cont %>

      <div class="actions"><%= f.submit "Search", class: "nav_button" %></div>

    <% end %>

    <div id='users'>

      <table>
        <thead>
          <tr>
            <th><%= sort_link(@search, :first_name) %></th>
            <th><%= sort_link(@search, :surname) %></th>
            <th>Job Role</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.first_name %></td>
              <td><%= user.surname %></td>
              <td><%= user.role.role_name %></td>
              <td><%= user.email %></td>
              <td><%= link_to 'Profile', user %></td>
              <td><% if current_user != user %>
                    <%= button_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% else %>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>

