<%#This displays the user profile %>

<div class="outer-block">
  <div class="inner-block">
  	<h2>My Profile</h2>

    <%= link_to "My Skills", user_user_skills_path(current_user), class: "nav_button" %>

	  <p>
  		<strong>Name:</strong>
  		<%= @user.first_name %> <%= @user.surname %>
	  </p>

    <p>
      <strong>Job Role:</strong>
      <%= @user.role.role_name if @user.role.role_name?  %>
    </p>

	  <p>
  		<strong>Work Group:</strong>
  		<%= @user.workgroup %>
	  </p>

	  <p>
  		<strong>Email:</strong>
  		<%= @user.email %>
	  </p>

    <%= link_to "Edit Profile or Change Password", edit_user_registration_path, class: "nav_button" %>

    <%#This displays the users dev activities they have recorded %>

    <%= render 'dev_activities/user_dev_activities' %>

  </div>
</div>
