<%#This displays the user profile %>

<div class="outer-block">
  <div class="inner-block">
  	<h2>My Profile</h2>

	<p>
  		<strong>Name:</strong>
  		<%= @user.first_name %> <%= @user.surname %>
	</p>

	<p>
  		<strong>Work Group:</strong>
  		<%= @user.workgroup %>
	</p>

	<p>
  		<strong>Email:</strong>
  		<%= @user.email %>
	</p>

  <%#This displays the users dev activities they have recorded %>

  <%= render 'dev_activities/user_dev_activities' %>

  </div>
</div>
