<%#This displays the user profile %>

<div class="outer-block">
  <div class="inner-block">

  	<h2>My Profile</h2>

	  <p>
  		<strong>Name:</strong>
  		<%= @user.first_name %> <%= @user.surname %>
	  </p>

    <p>
      <strong>Job Role:</strong>
      <%= @user.role.role_name if @user.role.role_name?  %>
    </p>

	  <p>
  		<strong>Email:</strong>
  		<%= @user.email %>
	  </p>

    <% if current_user.id == @user.id %>

    <%= link_to "Edit Profile", edit_user_registration_path, class: "nav_button" %>

    <%= link_to "Change Password", edit_password_user_path(current_user), class: "nav_button" %>

    <% else %>

    <% end %>

    <%= link_to "My Skills", user_user_skills_path(current_user), class: "nav_button" %>

    <%= link_to "My Development Activities", user_dev_activities_users_path(current_user), class: "nav_button" %>
    
  </div>
</div>
