<%#This is the display of dev activities which appears on the user profile - uses the user id of the profile to pull the dev activities %>
<div class="outer-block">
    <div class="inner-block">

      <% if current_user == @user %>

		<h2><%="My Development Activities"%>/h2>

		<p>
			<%= link_to('Add Development Activity', new_user_dev_activity_path(@user), class: "nav_button") %>

			<%= link_to "My Skills", user_user_skills_path(@user), class: "nav_button" %>
		</p>

	  <% else %>

	    <h2><%="#{@user.first_name} #{@user.surname}'s Development Activities"%></h2>

		<p>
			<%= link_to "#{@user.first_name} #{@user.surname}'s Skills", user_user_skills_path(@user), class: "nav_button" %>
		</p>

	  <% end %>

		<table>
			<tr>
				<th>Activity Type</th>
				<th>Development Subject</th>
				<th>Date Completed</th>
				<th>Time Taken</th>
				<th>Key Learning Points</th>
			</tr>

			<% @user.dev_activities.each do |dev_activity| %>
			<tr>
				<td><%= dev_activity.dev_type %></td>
				<td><%= dev_activity.development_subject %></td>
				<td><%= l dev_activity.activity_completed_at if dev_activity.activity_completed_at?  %></td>
				<td><%= dev_activity.time_taken %></td>
				<td><%= dev_activity.key_learning_point %></td>
			</tr>
			<% end %>
				
		</table>

	</div>
</div>
