<%#This is the display of dev activities which appears on the user profile - uses the user id of the profile to pull the dev activities %>
<div class="outer-block">
    <div class="inner-block">

		<h2>My Development Activities</h2>

		<p>
			<%= link_to('Add Development Activity', new_user_dev_activity_path(current_user), class: "nav_button") %>

			<%= link_to "My Skills", user_user_skills_path(current_user), class: "nav_button" %>
		</p>

		<table>
			<tr>
				<th>Activity Type</th>
				<th>Date Completed</th>
				<th>Time Taken</th>
				<th>Key Learning Points</th>
				<th>Notes</th>
			</tr>

			<% current_user.dev_activities.each do |dev_activity| %>
			<tr>
				<td><%= dev_activity.dev_type %> </td>
				<td><%=  l dev_activity.activity_completed_at if dev_activity.activity_completed_at?  %></td>
				<td><%= dev_activity.time_taken %></td>
				<td><%= dev_activity.key_learning_point %></td>
				<td><%= dev_activity.notes %></td>
			</tr>
			<% end %>
				
		</table>

	</div>
</div>
