

<div class="outer-block">
    <div class="inner-block">

    <h2>Add Team Members</h2>

    <%= search_form_for @search, url: user_search_users_path do |f| %>

      <%= f.label :surname_cont, "Search by Surname" %>
      <%= f.search_field :surname_cont %>

      <%= f.label :first_name_cont, "Search by First Name" %>
      <%= f.search_field :first_name_cont %>

    	<div class="actions"><%= f.submit "Search", class: "nav_button" %></div>

	  <% end %> 

    <table>
      <thead>
        <tr>
          <th><%= sort_link(@search, :first_name) %></th>
          <th><%= sort_link(@search, :surname) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>  
            <td><%= user.surname %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= render template: "linemanagers/new" %></td>        
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>


  </div>
</div>