<div class="outer-block">
  <div class="inner-block">    

    <h2>Skills</h2>

    <p>
      <%= link_to('Add New Skill', new_skill_path, class: "nav_button") %>
    </p>

    <table>
      <thead>
        <tr>
          <th>Skill Name</th>
          <th>Skill Type</th>
          <th>Skill Code</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @skills.each do |skill| %>
          <tr>
            <td><%= skill.skill_name %></td>
            <td><%= skill.skill_type %></td>
            <td><%= skill.skill_code %></td>
            <td><%= link_to 'Show', skill %></td>
            <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>


