<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :role_name, 'Role Name' %><br />
    <%= f.text_field :role_name, class: "form_field"  %>
  </div>

    <div>
    <%= f.label :role_description, 'Role Description' %><br />
    <%= f.text_field :role_description, class: "form_field"  %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Role', class: "nav_button" %>
  </div>
<% end %>
