<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id='form'>
    <%= f.label :role_name, 'Role Name' %><br />
    <%= f.text_field :role_name, class: "form_field"  %><br />

    <%= f.label :role_description, 'Role Description' %><br />
    <%= f.text_field :role_description, class: "form_field"  %>

<div id='role_skills'>
  <%= f.fields_for :role_skills do |builder| %>

    <%= render 'role_skill_fields', :f => builder %>

  <% end %>

  <div id='links'>
    <%= link_to_add_association 'add a skill', f, :role_skills %>
  </div>
</div>

  <div class="actions">
    <%= f.submit 'Save Job Role', class: "nav_button" %>
  </div>
</div>
<% end %>
