<div class="outer-block">
  <div class="inner-block">    

    <h2>Job Roles</h2>

    <p>
      <%= link_to('New Job Role', new_role_path, class: "nav_button") %>
    </p>

    <div id='roles'>

      <table>
        <thead>
          <tr>
            <th>Role</th>
            <th>Role Description</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @roles.each do |role| %>
            <tr>
              <td><%= role.role_name %></td>
              <td><%= role.role_description %></td>
              <td><%= link_to 'Show', role %></td>
              <td><%= link_to 'Edit', edit_role_path(role) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>


