<!DOCTYPE html>
<html>
<div class="outer-block">
  <div class="inner-block">
    <div class='app_header'>
      <head>
        <title>DevelopmentActivityApp</title>
        <%= stylesheet_link_tag "index" %>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>

      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="mailto:heather.poole@landregistry.gsi.gov.uk">feedback</a> will help us to improve it.</span>
        </p>
      </div>

      <div id="top_nav_bar">

        <% if user_signed_in? %>

            <%= link_to('My Profile', user_path(current_user), class: "nav_button") %>

            <%= link_to('New Dev Activity', new_user_dev_activity_path(current_user), class: "nav_button") %>

            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "nav_button" %>  

        <% else %>

            <%= link_to('Login', new_user_session_path, class: "nav_button") %>

            <%= link_to "Signup", new_user_registration_path, class: "nav_button" %>
    
        <% end %>

      </div>

      </head>
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>
</div>
    <body>



    <%= yield %>

    </body>


</html>
